html {
    scroll-behavior: smooth;
}

.navbar-horizontal .navbar-brand img{
    height: 40px;
}

.bg-header {
    /* The image used */
    background-image: url("../img/header.jpg");

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card .card-text{
    font-size: 0.8em;
    line-height: 2em;
}

.card .card-info .badge{
    font-variant: normal;
    text-transform: none;
}

.logo-invoice{
    width: 170px;
    height: auto;
}

.table-invoice th, .table-invoice td{
    padding: 5px;
}